.main {
    padding: 3rem 0;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 2rem;
}

@media screen and (max-width: 60rem) {
    .main {
        grid-template-columns: repeat(1, minmax(min-content, 1fr));
    }
}