.wrapper {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: .3rem .5rem;
}
.label {
    font-weight: 600;
    margin-right: -.7em;
}

.value {
    white-space: nowrap;
    margin-left: 1em;
}


