.label {
    font-weight: 600;
    margin-right: .3em;
}

.wrapper {
    display: flex;
    align-items: center;
    padding: .3rem .5rem;
    white-space: nowrap;
}

.tooltip {
    position: relative;

    &::before {
        content: attr(data-other);
        background-color: var(--secondary);
        border-radius: 5px;
        display: none;
        padding: .5em;
        margin-bottom: .3em;
        width: fit-content;
        height: fit-content;
        position: absolute;
        bottom: 100%;
        max-width: 200%;
        white-space: pre-line;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &::after {
        content: "";
        display: none;
        position: absolute;
        bottom: calc(100% - .7em);
        left: 50%;
        transform: translateX(-50%);
        border: solid 8px #0000;
        border-top: solid 8px var(--secondary);
    }

    &:hover::before,
    &:hover::after {
        display: block;
    }
}

.dotted {
    border-bottom: dotted var(--text) 1px;
}