@use "sass:color";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & p{
    margin: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// bright
$background: #EBE5D6;
$accent-background: #9DB07A;
$text: #393d30;
$inverse-text: #F6FCEA;
$primary: #005C82;
$secondary: #A8AD9C;

// dark
$backgroundD: #1F262E;
$accent-backgroundD: #002B43;
$textD: #F1F1E6;
$inverse-textD: #3A4856;
$primaryD: #009EFF;
$secondaryD: #4E3B21;


:root {
  --background: #{$background};
  --background-brighter: #{color.scale($background, $lightness: 8%)};
  --background-darker: #{color.scale($background, $lightness: -8%)};
  --accent-background: #{$accent-background};
  --accent-background-brighter: #{color.scale($accent-background, $lightness: 14%)};
  --text: #{$text};
  --text-brighter: #{color.scale($text, $lightness: 6%)};
  --inverse-text: #{$inverse-text};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --shadow: #0005;
}

[data-theme="dark"] {
  --background: #{$backgroundD};
  --background-brighter: #{color.scale($backgroundD, $lightness: 3%)};
  --background-darker: #{color.scale($backgroundD, $lightness: -3%)};
  --accent-background: #{$accent-backgroundD};
  --accent-background-brighter: #{color.scale($accent-backgroundD, $lightness: 6%)};
  --text: #{$textD};
  --text-brighter: #{color.scale($textD, $lightness: 10%)};
  --inverse-text: #{$inverse-textD};
  --primary: #{$primaryD};
  --secondary: #{$secondaryD};
}